@font-face {
  font-family: 'Montserrat-Thin';
  src: url('@/sass/fonts/Montserrat/Montserrat-Thin.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('@/sass/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Semi';
  src: url('@/sass/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('@/sass/fonts/Montserrat/Montserrat-Bold.ttf');
}
