* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat-Regular';
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    '. header .'
    '. main .'
    '. footer .';
}

.main {
  grid-area: main;
  min-height: calc(100vh - 20vh);
}

.header {
  grid-area: header;
  min-height: 10vh;
}

.footer {
  grid-area: footer;
  min-height: 10vh;
}

.MuiPaper-root {
  top: 49% !important;

  .MuiList-root {
    height: 200px !important;
  }
}
