.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 20px;
  padding-block: 15px;
  background: #000;
  color: white;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;

  @media (min-width: 440px) {
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    filter: brightness(0) invert(1);
    img {
      width: 90px;
      object-fit: contain;
    }
  }

  &__info {
    font-size: 12px;
    .username {
      font-family: 'Montserrat-Bold';
    }
  }
}
