.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  background: url('src/assets/images/HeroImagelg.png') center center no-repeat;
  background-size: cover;
  color: white;
  padding-block: 100px;
  padding-inline: 100px;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;

  &__logo {
    width: 280px;
    filter: brightness(0) invert(1);
  }

  &__title {
    font-size: 2em;
    width: 25ch;
  }

  &__search {
    margin-top: 1em;
    padding-inline: 2.5em;
    width: 400px;
    height: 70px;
    border: none;
    border-radius: 3em;
    outline: none;
  }
}
